<app-back-button />

<h1>Bike Builds</h1>
@for (build of builds.slice().reverse(); track build.attributes.slug) {
  <a [routerLink]="['/bike-builds', build.attributes.slug]">
    <div class="build__card">
      @if (build.attributes.coverImage) {
        <picture class="build__cover">
          <source [srcset]="build.attributes.coverImage + '?width=600&format=webp'" type="image/webp">
          <img [src]="build.attributes.coverImage + '?width=600'" [alt]="build.attributes.title + ' cover image'">
        </picture>
      }
      <div class="build__info">
        <h2 class="build__title">{{ build.attributes.title }}</h2>
        <p class="build__desc">{{ build.attributes.description }}</p>
      </div>
    </div>
  </a>
}