body {
  margin: 0;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #1c1703;
}

.navbar-links a {
  font-family: "PermanentMarker", cursive;
  font-size: large;
}

.navbar-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 80px;
  padding-left: 12px;
  height: 110px;
  position: relative;

  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-logo img {
  width: 150px;
  height: auto;
  margin-right: auto;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

nav li a {
  color: #fffdd0;
  text-decoration: none;
  padding: 14px 16px;
  display: block;

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;

  background-color: rgba(255, 255, 255, 0); /* fully transparent */
  border-radius: 30px;
}

nav li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fffdd0;
  border-radius: 30px;
  transform: scale(1.05);
}

nav li.active a {
  background-color: #04aa6d;
}
